<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  aria-label="Open menu"
>
  <mat-icon aria-hidden="true">menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  @for (link of navLinks; track link.path) {
    <a mat-menu-item [routerLink]="link.path" (click)="menuTrigger.closeMenu()">
      <mat-icon aria-hidden="true">{{ link.icon }}</mat-icon>
      {{ link.label }}
    </a>
  }

  <div mat-menu-item class="ad-toggle-item" (click)="$event.stopPropagation()">
    <app-ad-banner-toggle />
  </div>
</mat-menu>
