<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  aria-label="Open menu"
>
  <mat-icon aria-hidden="true">menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/profile" (click)="menuTrigger.closeMenu()">
    <mat-icon aria-hidden="true">person</mat-icon>
    Profile
  </a>

  <a mat-menu-item routerLink="/calculator" (click)="menuTrigger.closeMenu()">
    <mat-icon aria-hidden="true">calculate</mat-icon>
    Calculator
  </a>

  <div mat-menu-item class="ad-toggle-item" (click)="$event.stopPropagation()">
    <app-ad-banner-toggle />
  </div>
</mat-menu>
