<div class="profile-page flex flex-col flex-1">
  <app-profile-hero [askLingPrompts]="askLingPrompts" />

  <app-profile-principles class="mt-10 block" [principles]="principles" />

  <app-profile-experience class="mt-10 block" [stats]="experienceStats" />

  <app-profile-themes class="block" [themes]="workThemes" />

  <app-profile-projects class="mt-10 block" [projects]="projects" />

  <app-profile-toolbox class="mt-10 block" [groups]="toolbox" />

  <app-profile-interests class="mt-10 block" [interests]="interests" />
</div>
